*{
    /* padding: 0px; */
    margin: 0px;
    
}
body{
    border: 0.1px dotted #5F6474;
    margin: 20px 200px;
    background-color: #eee;
    background-image: url("/background.png");
    background-size: cover;
    background-repeat: no-repeat; 
    /* font-family: Arial, Helvetica, sans-serif;   */
}
.name{
    padding-top: 40px;
    margin-top: 0px;
    text-align: center;
    font-size: 50px;
    height: 109px;
    color: #5F6474;
    background-color: #C4C4C4;
    margin-bottom: 0px ;
}
.top-strip{
    /* margin-top: 0px; */
    height: 40px;
    background-color: #5F6474;
    margin-bottom: 0px;
    color: white;
    display: flex;
    padding-top: 15px;
}
h3{
    font-size: 16px;
}
.home{
    flex-grow: 40;
    padding-left: 20px;
    font-size: 20px;
    /* font-style: bold; */
}
.resources{
    flex-grow: 1;
}
.github{
    flex-grow: 1;
}
.contact{
    flex-grow: 1;
}
.left-strip{
    background-color: #C4C4C4;
    height: 1000px;
    width: 250px;
    float: left;
    margin-top: 0px;
    padding-left: 20px;
    padding-top: 20px;
    color: #5F6474;
}

.right-strip{
    padding-top: 20px;
    padding-left: 310px;
    padding-right: 30px;
    height: 1000px;
    /* float: right; */
    background-color: #eee;
    color: #5F6474;
}
.div-1{
    display: flex;
    flex-direction: row;
}
.my-photo{
    padding-top: 10px;
    padding-left: 10px;
    /* height: 90px; */
    width: 90px;
    border-radius: 50%;
}
.about-text{
    padding-left: 30px;
    padding-top: 20px;
}
.subscribe{
    padding-top: 150px;
}