*{
    /* padding: 0px; */
    margin: 0px;
}
body{
    border: 0.1px dotted #5F6474;
    margin: 10px;
    background-color: #eee;
    
}
.name{
    padding-top: 30px;
    margin-top: 0px;
    text-align: center;
    font-size: 50px;
    height: 109px;
    color: #5F6474;
    background-color: #C4C4C4;
    margin-bottom: 0px ;
}
.top-strip{
    /* margin-top: 0px; */
    height: 70px;
    background-color: #5F6474;
    margin-bottom: 0px;
}

.left-strip{
    background-color: #C4C4C4;
    height: 831px;
    width: 400px;
    float: left;
    margin-top: 0px;
}
.right-strip{
    height: 831px;
    background-color: #eee;
}